@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Lexend+Deca:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gowun Dodum', sans-serif;
 font-family: 'Lexend Deca', sans-serif;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 6%;
  background: #f5f7fa;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  overflow-y: scroll;
}
::-webkit-scrollbar{
  display: none;
}
.sidebar.open{
  width: 19%;
}

.sidebar .logo-details{
  height: 15%;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #506D84;
  font-size: 15%;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
  padding: 5px 5px 5px 10px;
  width: 210px;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 30%;
  right: 0;
  transform: translateY(-50%);
  font-size: 100%;
  transition: all 0.4s ease;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #506D84;
  height: 60px;
  min-width: 50px;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background:  #d2d7da;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}*/
.sidebar.open .tooltip{
  display: none;
}
/************ LOGO*****************/
.img1{
width: 20%;
margin-top: 1%;
}
/****************************DROPDOWN *******************************/
.dropdown-container {
  display: none;
  padding-left: 25px;
  position: relative;
  margin-top: 20px;
}
.dropdown-container a {
  align-items: center;
  align-content: center;
  border-radius: 10px;
  font-size: 14px;
  width: 15px;
  margin-left: 5%;
  letter-spacing: 1.5px;
  color: black;   
  line-height: 2.4;
  text-decoration: none;
}
.dropdown-container a:hover {
  color: black; 
}
.dropdown:hover {
  color: black;
}
.dropdown i {
  color: #506D84;
}
.active {
  background-color: #b7e2f0;
  font-weight: 500;
  color: black;
}
.sidebar input{
  font-size: 15px;
  color: black;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #506D84;
}
.sidebar.open input{
  padding: 0 10px 0 10px;
  width: 100%;
}
/***********************SEARCH BOX************************/
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #506D84;
  color: #f5f7fa;
}
.sidebar.open .bx-search:hover{
  background: #506D84;
  color: #f5f7fa;
}
.sidebar .bx-search:hover{
  background: #E8F6EF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background:  #d2d7da;
}
.sidebar li a:hover{
  background: #506D84;
}
.sidebar li a .links_name{
  color:  black;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: white;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 6%;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background:  #d2d7da;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 19%;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color:  black; 
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #A8E7E9;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.dropdown-container {
  display: none;
  padding-left: 10%;
  position: relative;
  margin-top: 10px;
}
.dropdown-container a {
  align-items: center;
  align-content: center;
  border-radius: 10px;
  font-size: 13px;
  width: 15px;
  margin-left: 5%;
  letter-spacing: 1.5px;
  color: black;   
  line-height: 2.4;
  text-decoration: none;
}
.dropdown-container a:hover {
  color: black; 
}
.dropdown:hover {
  color: black;
}
.active {
  background-color: #b7e2f0;
  font-weight: 500;
  color: black;
}
.home-section{
  position: relative;
  background: black ;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: black;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}



/*Section 1 */

.home-section{
  position: relative;
  background-color:  #d2d7da;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 15px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

/************ LOGO*****************/
.img1{
width: 20%;
margin-top: 1%;
}

/***********************SEARCH BOX************************/
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #506D84;
  color: #f5f7fa;
}
.sidebar.open .bx-search:hover{
  background: #506D84;
  color: #f5f7fa;
}
.sidebar .bx-search:hover{
  background: #E8F6EF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background:  #d2d7da;
}
.sidebar li a:hover{
  background: #506D84;
}
.sidebar li a .links_name{
  color:  black;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: white;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 6%;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background:  #d2d7da;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 19%;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color:  black; 
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #A8E7E9;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.dropdown-container {
  display: none;
  padding-left: 10%;
  position: relative;
  margin-top: 10px;
}
.dropdown-container a {
  align-items: center;
  align-content: center;
  border-radius: 10px;
  font-size: 13px;
  width: 15px;
  margin-left: 5%;
  letter-spacing: 1.5px;
  color: black;   
  line-height: 2.4;
  text-decoration: none;
}
.dropdown-container a:hover {
  color: black; 
}
.dropdown:hover {
  color: black;
}
.active {
  background-color: #b7e2f0;
  font-weight: 500;
  color: black;
}
/************ LOGO*****************/
.img1{
width: 18%;
margin-top: 1%;
}
/****************************DROPDOWN *******************************/

/***********************SEARCH BOX************************/
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #7a7e80;
  color: #f5f7fa;
}
.sidebar.open .bx-search:hover{
  background: #7a7e80;
  color: #f5f7fa;
}
.sidebar .bx-search:hover{
  background: #f5f7fa;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background:  #d2d7da;
}
.sidebar li a:hover{
  background: #7a7e80;
}
.sidebar li a .links_name{
  color:  black;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: white;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background:  #d2d7da;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color:  black; 
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #f5f7fa;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
/**************************************HOME SECTION*************************/

.home-section{
  position: relative;
  background-color:  #d2d7da;
  min-height: 100vh;
  top: 0;
  left: 6%;
  width: 94%;
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 19%;
  width: 81%;
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 15px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}


/******************** Search Widget ****************/


#search_widget{ 
  position: relative;
  transform: translate(0%, 100%);
  height: 25px; 
  border:none;
  position: relative;
  margin-left: 250px;
  margin-top: -100px;
}

.search-widget{
  width: 226px;
}

.searchbtn{
  border-radius: 400px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition:0.4s;
  font-size: 14px;
  color:black;
}

.searchtxt{
  background:none;
  outline: none;
  float: left;
  padding: 0;
  line-height: 20px;
  width: 0px;
  border-left:1px black;
  border-right:1px black;
  border-top:1px black;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out; 
  font-size: 13px;
  display: block;
  color: #33526F; 
  letter-spacing: 1.5px;
}

#search_widget:hover > .searchtxt{
  width: 200px;
  padding: 0 6px;
}

input[type=text]:focus {
  width: 80%;
}


/****************** RIGHT Sidebar User ****************/
.nav-user{
  display: flex; 
  position: relative;
  margin-left: 1000px;
  margin-top: -15px ;
}

.nav-image-user{
  border: 1px solid white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.user-online-name{
  border-bottom: 2px solid grey;
  padding: 5px;
  font-size: 13px;
  display: block;
  color: #33526F;
  font-family: "Poppins" , sans-serif;
  letter-spacing: 1.5px;
}

.action{
  position : fixed;
  top: 10px;
  right: 30px;
  z-index: 4;

}

.action .profile{
  position : relative;
  width: 45px;
  height: 45px;
  border-radius :50%;
  overflow: hidden;
  cursor: pointer;
}
.action .profile img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .menu .active{
  opacity: 1;
  top: 80px;
}
.action .menu {
  position: absolute;
  top: 50px;
  right: -14px;
  padding: 8px 15px;
  background: #f5f7fa;
  width: 150px;
  box-sizing: content-box;
  border-radius: 15px;
  transition: 0.5s;
  display: none;
  cursor: pointer;
  opacity: 0.9;
}

.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
  font-size: 17px;
  color: #33526F;
  line-height: 1.4em;
  font-family: "Poppins" , sans-serif;
}
.action .menu h3 span {
  color: #f5f7fa;
  margin-top: -27px;
  transform: rotate(180deg);
  margin-right: 15px;
}

.action .menu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05) ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins" , sans-serif; 
  align-items: left;
  justify-content: left;
}
.action .menu ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.action .menu ul li: hover img{
  opacity: 1;
}
.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
  font-size: 12px;
  font-family: "Poppins" , sans-serif;
}
.action .menu ul li:hover a {
  color: #7a7e80 ;
}

.menu{
  display: none;
  cursor: pointer;
}

/****************** Les informations de l'étudiant ****************/

.welcome{
  margin-left: 100px;
}

.welcome-user {
  margin-top: 6%;
  margin-bottom: .5rem;
  font-size: 22px;
  color: #38546c;
  font-family: "Poppins";
  letter-spacing: 1.5px;
}

.global{
  display: flex;
}


.container {
  position: relative;
  margin-top: 4%; 
  margin-left: 55%;
}

label{
  font-size: 15px;
  color: #473b7e; 
  font-family: "Poppins" , sans-serif;
  letter-spacing: 1px;
}

.form-group {
    margin-bottom: 1.5rem;
}

#full-name {
  font-size: 13px;
  color: #33526F;  
  font-family: "Poppins" , sans-serif;
}
.illu{
  float: left;
  margin-top: 10%;
  margin-left: 5%;
  width: 40%;
}
.form-control {
    display: block;
    width: 80%;
    padding: 1rem 1rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 4;
    color: #495057;
    background-color: #f5f7fa;
    border: 1px solid #7a7e80;
    border-radius: 5px;
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}/
.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #7a7e80;
}

.form-control:focus {
    color: #495057;
    background-color: #f5f7fa;
    outline: 0;
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {

    background-color: #f5f7fa;
    opacity: 1;
} / 

input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.form-control:focus::-ms-value {
    color: #495057;  
    background-color: #f5f7fa;
}
#dataend{
    background-color: #f5f7fa;
}


.col-form-label {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1;
}


.form-control-plaintext {
    display: block;
    width: 80%;
    padding: 0.56rem 0;
    margin-bottom: 0;
    font-size: 0.75rem;
    line-height: 1;
    color: #212529;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
} 

.form-control-plaintext.form-control-sm,
.form-control-plaintext.form-control-lg {
    padding-right: 0;
    padding-left: 0;
}



button:not(:disabled) {
    cursor: pointer;
}

#panel-button {
    float: right;
    border: none;
    background: none;
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    color: inherit;
    line-height: normal;
}

.mdl-js-button {
    right: 10px;
}

.form-group label {
    margin-top: 10px;
}

.form-group input {
    border-radius: 10px;
    padding: 10px;
    border: solid 1px #7a7e80;
    margin-top: 10px;
    margin-left: 20px;
}

select {  
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    background-color:#f5f7fa;
    width: 80%;
    display: block;
    padding: 0.56rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 15;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #7a7e80;
    border-radius: 10px;
}

.btn_ajouter {
    padding: 10px;
    margin-left: 50px;
}

.btn_annuler {
    padding: 10px;
    margin-bottom: 10px;
}

.hidee{
  display: none;
}

option{
  font-size: 13px;
  display: block;
  color: #495057;
  letter-spacing: 1px; 
}
.button {
    display: inline-block;
    margin-top: 10%;
    margin-left: 15%;

}
.button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background:#7a7e80;
  cursor: pointer;
  transition: all 0.3s ease;

}
.button input[type="submit"]:hover{
  background: #473b7e;
}





@media (max-width: 790px) {
  .illu
  {
    display: none;
  }

  .sidebar
  {
    width: 16%;
  }

  .img1
  {
    margin-left: 10%;
    width: 17%;
    display: block;
    margin-top: 0px;
  }
  form
  {
    width: 400px;
    margin-left: -159px;
    margin-top: 77px;
  }
  .welcome-user
  {
    margin-left: -31px;
    margin-top: -30px;
  }

  #search_widget
  {
    margin-top: -14px;
    margin-left: 84px;
  }

  .sidebar.open
  {
    width: 100%;
  }

  .sidebar.open li.profile 
  {
    width: 100%;
  }

  .bx-grid-alt:before, .fa-user-graduate:before, .fa-graduation-cap:before, .fa-chalkboard-teacher:before {
    content: "\ea5d";
    margin-left: 12%;
  }

  .button
  {
    display: block;
  }

  .hide{
    display: none;
  }

  .btn-block
  {
    width: 232px;
  }

  .profile
  {
    margin-right: 10px;
  }
  #btn{
    display: flex;
    height: 100%;
    /*width: 100%;*/
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    /*background: #d1ebf4;*/
  }

  .sidebar.open .logo-details #btn {
    text-align: center;
  }
  
  .dropdown-container a
  {
    display: table-header-group;
  }

  .bx-menu:before {
    content: "\eac1";
    margin-left: 20%;
  }

   
}


@media (min-width: 791px) and (max-width:1180px )
{
  .sidebar 
  {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 10%;
    background: #f5f7fa;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;

  }

  .img1 
  {
    width: 20%;
    margin-top: 1%;
    margin-left: 8%;
  }

  .welcome 
  {
    margin-left: 14%;
  }

  #search_widget {
    position: relative;
    transform: translate(0%, 100%);
    height: 25px;
    border: none;
    position: relative;
    margin-left: 10%;
    margin-top: -13px;
  }




}

/*FOOTER*/
footer{
  height: 20%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #d2d7da;
}
















