 .u-section-1 {
  min-height: 1315px;
}

.u-section-1 .u-icon-1 {
  width: 57px;
  height: 57px;
  margin: 10px calc(((100% - 1140px) / 2) + -57px) 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 57px;
  height: 57px;
  margin: -56px calc(((100% - 1140px) / 2) + 23px) 0 auto;
}

.u-section-1 .u-icon-3 {
  width: 53px;
  height: 53px;
  margin: -54px calc(((100% - 1140px) / 2) + -13px) 0 auto;
}

.u-section-1 .u-icon-4 {
  width: 55px;
  height: 55px;
  margin: -54px calc(((100% - 1140px) / 2) + 182px) 0 auto;
}

.u-section-1 .u-icon-5 {
  width: 56px;
  height: 56px;
  margin: -55px calc(((100% - 1140px) / 2) + 106px) 0 auto;
}

.u-section-1 .u-icon-6 {
  width: 53px;
  height: 53px;
  margin: -54px calc(((100% - 1140px) / 2) + 254px) 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -51px auto 0 calc(((100% - 1140px) / 2) + 368px);
  padding: 16px 31px 16px 30px;
}

.u-section-1 .u-icon-7 {
  width: 27px;
  height: 27px;
  margin: -41px auto 0 calc(((100% - 1140px) / 2) + 543px);
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -37px calc(((100% - 1140px) / 2) + 348px) 0 auto;
  padding: 11px 53px 12px 51px;
}

.u-section-1 .u-icon-8 {
  width: 30px;
  height: 30px;
  color: rgb(17, 17, 17) !important;
  margin: -42px calc(((100% - 1140px) / 2) + 365px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: start;
  margin: -38px calc(((100% - 1140px) / 2) + 934px) 0 calc(((100% - 1140px) / 2) + -63px);
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-1 .u-icon-9 {
  width: 47px;
  height: 47px;
  margin: 33px calc(((100% - 1140px) / 2) + 231px) 0 auto;
}

.u-section-1 .u-icon-10 {
  width: 47px;
  height: 47px;
  margin: -47px auto 0 calc(((100% - 1140px) / 2) + 206px);
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.25rem;
  margin: -47px auto 0 calc(((100% - 1140px) / 2) + 298px);
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.25rem;
  margin: -34px auto 0 calc(((100% - 1140px) / 2) + -31px);
  padding: 0;
}

.u-section-1 .u-icon-11 {
  width: 47px;
  height: 47px;
  margin: -34px auto 0;
}

.u-section-1 .u-icon-12 {
  width: 30px;
  height: 30px;
  margin: -44px auto 0 calc(((100% - 1140px) / 2) + 176px);
}

.u-section-1 .u-icon-13 {
  width: 30px;
  height: 30px;
  margin: -30px auto 0 calc(((100% - 1140px) / 2) + 492px);
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.25rem;
  margin: -28px calc(((100% - 1140px) / 2) + 358px) 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.25rem;
  margin: -32px calc(((100% - 1140px) / 2) + 35px) 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-14 {
  width: 30px;
  height: 30px;
  margin: -34px calc(((100% - 1140px) / 2) + -15px) 0 auto;
}

.u-section-1 .u-icon-15 {
  width: 30px;
  height: 30px;
  margin: -28px calc(((100% - 1140px) / 2) + 306px) 0 auto;
}

.u-section-1 .u-line-2 {
  transform-origin: right center 0px;
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 53px calc(((100% - 1140px) / 2) + 19px) 0 calc(((100% - 1140px) / 2) + 870px);
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: -158px calc(((100% - 1140px) / 2) + 570px) 0 calc(((100% - 1140px) / 2) + 367px);
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0);
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: -158px calc(((100% - 1140px) / 2) + 743px) 0 0;
}

.u-section-1 .u-text-5 {
  margin: -158px calc(((100% - 1140px) / 2) + 306px) 0 calc(((100% - 1140px) / 2) + 637px);
}

.u-section-1 .u-btn-10 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-line-3 {
  transform-origin: right center 0px;
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-1 .u-shape-1 {
  width: 690px;
  height: 770px;
  margin: -1px 0 0 auto;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -770px calc(((100% - 1140px) / 2) + 263px) 0 auto;
  padding: 24px 60px 26px 59px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -76px 0 0 auto;
  padding: 25px 97px 26px 96px;
}

.u-section-1 .u-shape-2 {
  height: 130px;
  width: 687px;
  margin: -2px 0 0 auto;
}

.u-section-1 .u-shape-3 {
  height: 130px;
  width: 687px;
  margin: 130px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 45px;
  height: 45px;
  margin: -379px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: -35px calc(((100% - 1140px) / 2) + 192px) 0 calc(((100% - 1140px) / 2) + 599px);
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  text-align: left;
  margin: 27px calc(((100% - 1140px) / 2) + 402px) 0 calc(((100% - 1140px) / 2) + 609px);
}

.u-section-1 .u-btn-14 {
  background-image: none;
  margin: -69px auto 0;
  padding: 0;
}

.u-section-1 .u-text-8 {
  width: 76px;
  margin: 246px auto 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: -25px calc(((100% - 1140px) / 2) + 426px) 0 calc(((100% - 1140px) / 2) + 585px);
}

.u-section-1 .u-image-2 {
  width: 45px;
  height: 45px;
  margin: -113px auto 0;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -370px calc(((100% - 1140px) / 2) + -67px) 0 auto;
  padding: 1px 0;
}

.u-section-1 .u-text-10 {
  margin: 295px calc(((100% - 1140px) / 2) + 172px) 0 calc(((100% - 1140px) / 2) + 599px);
}

.u-section-1 .u-btn-17 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-shape-4 {
  height: 130px;
  width: 687px;
  margin: 214px 0 0 auto;
}

.u-section-1 .u-text-11 {
  text-align: left;
  margin: -51px calc(((100% - 1140px) / 2) + 383px) 0 calc(((100% - 1140px) / 2) + 628px);
}

.u-section-1 .u-image-3 {
  width: 45px;
  height: 45px;
  margin: -117px auto 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  font-size: 1.25rem;
  margin: -92px calc(((100% - 1140px) / 2) + 265px) 0 auto;
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  margin: -592px calc(((100% - 1140px) / 2) + 904px) 0 calc(((100% - 1140px) / 2) + -33px);
}

.u-section-1 .u-icon-16 {
  width: 57px;
  height: 57px;
  color: rgb(18, 129, 232) !important;
  margin: -63px auto 0 calc(((100% - 1140px) / 2) + 247px);
}

.u-section-1 .u-image-4 {
  width: 320px;
  height: 414px;
  margin: -33px auto 0 calc(((100% - 1140px) / 2) + 54px);
}

.u-section-1 .u-text-13 {
  font-size: 2.25rem;
  margin: 24px calc(((100% - 1140px) / 2) + 659px) 0 calc(((100% - 1140px) / 2) + -124px);
}

.u-section-1 .u-btn-20 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 21px auto 60px calc(((100% - 1140px) / 2) + 39px);
  padding: 16px 93px 17px 92px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    margin-top: 45px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-icon-2 {
    margin-top: -134px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-icon-3 {
    margin-top: 114px;
    margin-right: calc(((100% - 940px) / 2) + -13px);
  }

  .u-section-1 .u-icon-4 {
    margin-top: -180px;
    margin-right: calc(((100% - 940px) / 2) + 182px);
  }

  .u-section-1 .u-icon-5 {
    margin-right: calc(((100% - 940px) / 2) + 106px);
  }

  .u-section-1 .u-icon-6 {
    margin-top: -67px;
    margin-right: calc(((100% - 940px) / 2) + 254px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 277px;
    margin-left: calc(((100% - 940px) / 2) + 168px);
  }

  .u-section-1 .u-icon-7 {
    margin-left: calc(((100% - 940px) / 2) + 448px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: -481px;
    margin-right: calc(((100% - 940px) / 2) + 254px);
  }

  .u-section-1 .u-icon-8 {
    margin-right: calc(((100% - 940px) / 2) + 301px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -31px;
    margin-right: calc(((100% - 940px) / 2) + 834px);
    margin-left: calc(((100% - 940px) / 2) + -63px);
  }

  .u-section-1 .u-line-1 {
    margin-top: 89px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 7px;
    margin-right: calc(((100% - 940px) / 2) + 231px);
  }

  .u-section-1 .u-icon-10 {
    margin-left: calc(((100% - 940px) / 2) + 206px);
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    margin-left: calc(((100% - 940px) / 2) + 206px);
  }

  .u-section-1 .u-btn-5 {
    margin-top: -101px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-icon-12 {
    margin-top: 74px;
    margin-left: calc(((100% - 940px) / 2) + 206px);
  }

  .u-section-1 .u-icon-13 {
    margin-left: calc(((100% - 940px) / 2) + 406px);
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 940px) / 2) + 158px);
  }

  .u-section-1 .u-btn-7 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 158px);
  }

  .u-section-1 .u-icon-14 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 158px);
  }

  .u-section-1 .u-icon-15 {
    margin-right: calc(((100% - 940px) / 2) + 306px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 58px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 689px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 470px);
    margin-left: calc(((100% - 940px) / 2) + 267px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 543px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 206px);
    margin-left: calc(((100% - 940px) / 2) + 537px);
  }

  .u-section-1 .u-btn-11 {
    margin-right: calc(((100% - 940px) / 2) + 63px);
  }

  .u-section-1 .u-shape-2 {
    width: 566px;
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2) + 92px);
    margin-left: calc(((100% - 940px) / 2) + 499px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2) + 302px);
    margin-left: calc(((100% - 940px) / 2) + 509px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2) + 326px);
    margin-left: calc(((100% - 940px) / 2) + 485px);
  }

  .u-section-1 .u-btn-16 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-top: 291px;
    margin-right: 253px;
    margin-left: calc(((100% - 940px) / 2) + 492px);
  }

  .u-section-1 .u-text-11 {
    margin-top: -16px;
    margin-right: calc(((100% - 940px) / 2) + 283px);
    margin-left: calc(((100% - 940px) / 2) + 528px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 15px;
  }

  .u-section-1 .u-btn-18 {
    margin-top: 7px;
  }

  .u-section-1 .u-btn-19 {
    margin-top: -156px;
    margin-right: calc(((100% - 940px) / 2) + 65px);
  }

  .u-section-1 .u-text-12 {
    margin-top: -630px;
    margin-right: calc(((100% - 940px) / 2) + 804px);
    margin-left: calc(((100% - 940px) / 2) + -33px);
  }

  .u-section-1 .u-icon-16 {
    margin-top: -62px;
    margin-left: calc(((100% - 940px) / 2) + 247px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2) + 54px);
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 940px) / 2) + 559px);
    margin-left: calc(((100% - 940px) / 2) + -124px);
  }

  .u-section-1 .u-btn-20 {
    margin-bottom: 0;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-top: 265px;
    margin-right: calc(((100% - 720px) / 2) + -57px);
  }

  .u-section-1 .u-icon-2 {
    margin-top: -56px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-icon-3 {
    margin-right: calc(((100% - 720px) / 2) + -13px);
  }

  .u-section-1 .u-icon-4 {
    margin-top: -471px;
    margin-right: calc(((100% - 720px) / 2) + 182px);
  }

  .u-section-1 .u-icon-5 {
    margin-right: calc(((100% - 720px) / 2) + 106px);
  }

  .u-section-1 .u-icon-6 {
    margin-top: -74px;
    margin-right: calc(((100% - 720px) / 2) + 195px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 786px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-icon-7 {
    margin-left: calc(((100% - 720px) / 2) + 343px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: -1061px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-icon-8 {
    margin-right: calc(((100% - 720px) / 2) + 231px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 724px);
    margin-left: calc(((100% - 720px) / 2) + -63px);
  }

  .u-section-1 .u-line-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-icon-9 {
    margin-right: calc(((100% - 720px) / 2) + 231px);
  }

  .u-section-1 .u-icon-10 {
    margin-left: calc(((100% - 720px) / 2) + 206px);
  }

  .u-section-1 .u-btn-4 {
    margin-top: -47px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-top: -34px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-icon-12 {
    margin-top: -44px;
    margin-left: calc(((100% - 720px) / 2) + 176px);
  }

  .u-section-1 .u-icon-13 {
    margin-left: calc(((100% - 720px) / 2) + 311px);
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-top: -32px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-icon-14 {
    margin-top: -34px;
    margin-right: calc(((100% - 720px) / 2) + -15px);
  }

  .u-section-1 .u-icon-15 {
    margin-right: calc(((100% - 720px) / 2) + 234px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 469px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 360px);
    margin-left: calc(((100% - 720px) / 2) + 157px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 323px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 96px);
    margin-left: calc(((100% - 720px) / 2) + 427px);
  }

  .u-section-1 .u-btn-11 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-2 {
    width: 687px;
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 371px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + 192px);
    margin-left: calc(((100% - 720px) / 2) + 399px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2) + 216px);
    margin-left: calc(((100% - 720px) / 2) + 375px);
  }

  .u-section-1 .u-btn-16 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: 194px;
    margin-left: calc(((100% - 720px) / 2) + 377px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2) + 173px);
    margin-left: calc(((100% - 720px) / 2) + 418px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 792px;
  }

  .u-section-1 .u-btn-19 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-12 {
    margin-top: -1407px;
    margin-right: calc(((100% - 720px) / 2) + 694px);
    margin-left: calc(((100% - 720px) / 2) + -33px);
  }

  .u-section-1 .u-icon-16 {
    margin-left: calc(((100% - 720px) / 2) + 189px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2) + 54px);
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 720px) / 2) + 449px);
    margin-left: calc(((100% - 720px) / 2) + -124px);
  }

  .u-section-1 .u-btn-20 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-right: calc(((100% - 540px) / 2) + -57px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-icon-3 {
    margin-right: calc(((100% - 540px) / 2) + -13px);
  }

  .u-section-1 .u-icon-4 {
    margin-right: calc(((100% - 540px) / 2) + 137px);
  }

  .u-section-1 .u-icon-5 {
    margin-right: calc(((100% - 540px) / 2) + 106px);
  }

  .u-section-1 .u-icon-6 {
    margin-right: calc(((100% - 540px) / 2) + 146px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1192px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-icon-7 {
    margin-left: calc(((100% - 540px) / 2) + 257px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: -1467px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-icon-8 {
    margin-right: calc(((100% - 540px) / 2) + 173px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 634px);
    margin-left: calc(((100% - 540px) / 2) + -63px);
  }

  .u-section-1 .u-icon-9 {
    margin-right: calc(((100% - 540px) / 2) + 173px);
  }

  .u-section-1 .u-icon-10 {
    margin-left: calc(((100% - 540px) / 2) + 155px);
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-icon-12 {
    margin-left: calc(((100% - 540px) / 2) + 176px);
  }

  .u-section-1 .u-icon-13 {
    margin-left: calc(((100% - 540px) / 2) + 233px);
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-icon-14 {
    margin-right: calc(((100% - 540px) / 2) + -15px);
  }

  .u-section-1 .u-icon-15 {
    margin-right: calc(((100% - 540px) / 2) + 176px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 289px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 270px);
    margin-left: calc(((100% - 540px) / 2) + 67px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 143px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 6px);
    margin-left: calc(((100% - 540px) / 2) + 337px);
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
  }

  .u-section-1 .u-shape-3 {
    width: 540px;
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 191px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 102px);
    margin-left: calc(((100% - 540px) / 2) + 309px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2) + 126px);
    margin-left: calc(((100% - 540px) / 2) + 285px);
  }

  .u-section-1 .u-btn-16 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: 146px;
    margin-left: calc(((100% - 540px) / 2) + 283px);
  }

  .u-section-1 .u-shape-4 {
    width: 540px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -48px;
    margin-right: calc(((100% - 540px) / 2) + 83px);
    margin-left: calc(((100% - 540px) / 2) + 328px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 882px;
  }

  .u-section-1 .u-btn-19 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-12 {
    margin-top: -1465px;
    margin-right: calc(((100% - 540px) / 2) + 604px);
    margin-left: calc(((100% - 540px) / 2) + -33px);
  }

  .u-section-1 .u-icon-16 {
    margin-left: calc(((100% - 540px) / 2) + 142px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 540px) / 2) + 54px);
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 540px) / 2) + 359px);
    margin-left: calc(((100% - 540px) / 2) + -124px);
  }

  .u-section-1 .u-btn-20 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-right: calc(((100% - 340px) / 2) + -57px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-3 {
    margin-right: calc(((100% - 340px) / 2) + -13px);
  }

  .u-section-1 .u-icon-4 {
    margin-right: calc(((100% - 340px) / 2) + 86px);
  }

  .u-section-1 .u-icon-5 {
    margin-right: calc(((100% - 340px) / 2) + 106px);
  }

  .u-section-1 .u-icon-6 {
    margin-right: calc(((100% - 340px) / 2) + 92px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1105px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-7 {
    margin-left: calc(((100% - 340px) / 2) + 162px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: -1380px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-8 {
    margin-right: calc(((100% - 340px) / 2) + 109px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 534px);
    margin-left: calc(((100% - 340px) / 2) + -63px);
  }

  .u-section-1 .u-icon-9 {
    margin-right: calc(((100% - 340px) / 2) + 109px);
  }

  .u-section-1 .u-icon-10 {
    margin-left: calc(((100% - 340px) / 2) + 98px);
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-12 {
    margin-left: calc(((100% - 340px) / 2) + 111px);
  }

  .u-section-1 .u-icon-13 {
    margin-left: calc(((100% - 340px) / 2) + 147px);
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-14 {
    margin-right: calc(((100% - 340px) / 2) + -15px);
  }

  .u-section-1 .u-icon-15 {
    margin-right: calc(((100% - 340px) / 2) + 111px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -122px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 89px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 82px;
    margin-right: calc(((100% - 340px) / 2) + 137px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 143px);
  }

  .u-section-1 .u-line-3 {
    margin-top: -7px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2) + 2px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 340px) / 2) + 26px);
    margin-left: calc(((100% - 340px) / 2) + 185px);
  }

  .u-section-1 .u-btn-16 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: 92px;
    margin-left: calc(((100% - 340px) / 2) + 178px);
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -80px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 211px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 1028px;
  }

  .u-section-1 .u-btn-19 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-12 {
    margin-top: -1579px;
    margin-right: calc(((100% - 340px) / 2) + 504px);
    margin-left: calc(((100% - 340px) / 2) + -33px);
  }

  .u-section-1 .u-icon-16 {
    margin-left: calc(((100% - 340px) / 2) + 89px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 340px) / 2) + 20px);
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 340px) / 2) + 259px);
    margin-left: calc(((100% - 340px) / 2) + -124px);
  }

  .u-section-1 .u-btn-20 {
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-2 .u-sheet-1 {
  min-height: 885px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 97px 448px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  text-align: left;
  margin: 36px auto 60px 241px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-top: -16px;
    margin-right: 248px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-right: 28px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 139px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 88px;
  }
}