.tit{
    position: absolute;
    left: 530px;
    top: 340px;
    z-index: 1;
    color: white;
    font-weight: bolder;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;

}


.para{
    position: absolute;
    right:10px;
    top: 600px;

    width: 40%; 
    height: 1000px; 
    padding: 10px; 
    
}

.list{
    margin-left: 50px;
    font-weight: bold;
}