*{
    margin:0;
    padding:0;
}
.titre
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 150px;
    font-size: 1.5cm;
    color: crimson;
}
.Boit
{
    height: 400px;
    float: left;
    margin-left: 370px;
    margin-top: 90px;
    position: center;
}
.Boit1
{
    height: 400px;
    float: left;
    margin-left: 510px;
    margin-top: 100px;
    position: center;
}
.maincontainer{
    float: left;
    width: 250px;
    height: 300px;
    margin-top:15%;
    margin-left:20px;
    transform: translate(-50%, -50%);
  }
  .thecard{
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    margin-left: px;
  }
  .thecard:hover{
    transform: rotateY(180deg);
  }
   .thefront{
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    /*background: #d9d9d9;*/
    color: #000;
    text-align: center;
  }
  .thefront img
  {
    height:70%;
    position: center;
    margin: -70px;
  }
  .thefront h3
  {
      margin: 30px;
  }
  .theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    /*background: #6d6c6c;*/
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
  }
  .para
  {
    position: center;
    margin-top: 10px;
  }
  .para img 
  {
      height:100%;
     position: center;
     margin: -80px;
  }
  .txt
  {
    text-align: center;
    margin-top: -30px;
  }
  .txt p
  {
    display: inline-block;
    margin-right: 10px; 
    margin-left: 17px; 
  }
  .txt h2
  {
    font-family:'Times New Roman', Times, serif;
    color: rgb(224, 3, 3);
    display: inline-block;
  }
  .but1
  {
    height: 30px;
    width: 140px;
    padding:8px;
    background: red;
    border:none;
    outline:none;
    color:#fafafa;
    cursor:pointer;
    margin-top: 8px;
    border-radius:1rem;
  }